@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgba(54, 56, 77, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.main-container {
  width: 504px;
  height: 520px;
  background-color: white;
  border-radius: 36px;
  padding-left: 64px;
  padding-top: 48px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkmark-oval {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: rgba(255, 97, 85, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  color: white;
  background-color: rgba(36, 39, 66, 1);
  border-radius: 8px;
  width: 350px;
  height: 56px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button:hover {
  transition: 1s;
  background-image: linear-gradient(
    rgba(255, 106, 58, 1),
    rgba(255, 82, 123, 1)
  );
  filter: drop-shadow(5px 20px 10px rgba(255, 97, 85, 0.5));
  cursor: pointer;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  height: 112px;
  max-width: 376px;
  line-height: 100%;
  color: rgba(36, 39, 66, 1);
}

p {
  max-width: 376px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

span {
  font-weight: 700;
  size: 16px;
  line-height: 150%;
}

img {
  width: 27.43px;
  height: 18.29px;
}

.upper {
  gap: 40px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 500px) {
  .main-container {
    width: 100vw;
    height: 100vh;
    padding-left: 24px;
    padding-top: 149px;
    border-radius: 0px;
  }
  .texts {
    max-width: 327px;
  }
  .button {
    max-width: 327px;
  }
}
