@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgba(54, 56, 77, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

h1 {
  font-weight: 700;
  font-size: 56px;
}

span {
  font-weight: 400;
  font-size: 16px;
}

.main-container {
  width: 928px;
  height: 641px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 64px;
  padding-right: 24px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 446px;
  max-width: 376px;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 376px;
  height: 244px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.features {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.label-input {
  flex-direction: column;
  display: flex;
  gap: 8px;
}

.emailinput {
  background-color: white;
  border: 1px solid rgba(25, 24, 43, 0.25);
  border-radius: 8px;
  max-width: 350px;
  height: 56px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 16px;
}

.emailinput:hover {
  border: 1px solid rgba(36, 39, 66, 1);
  cursor: pointer;
}

.button {
  color: white;
  background-color: rgba(36, 39, 66, 1);
  border-radius: 8px;
  width: 350px;
  height: 56px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button:hover {
  transition: 1s;
  background-image: linear-gradient(
    rgba(255, 106, 58, 1),
    rgba(255, 82, 123, 1)
  );
  filter: drop-shadow(5px 20px 10px rgba(255, 97, 85, 0.5));
  cursor: pointer;
}

.checkmark-oval {
  width: 21px;
  height: 21px;
  border-radius: 100%;
  background-color: rgba(255, 97, 85, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 400px;
  height: 593px;
}

.checkmark-image {
  max-width: 9px;
  height: 6px;
}

.img-phone {
  display: none;
}

@media only screen and (max-width: 710px) {
  .img-desktop {
    display: none;
  }
  .img-phone {
    display: block;
    width: 375px;
    height: 284px;
  }
  .main-container {
    flex-direction: column-reverse;
    padding-bottom: 200px;
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    padding-left: 24px;
    gap: 40px;
  }
  .texts {
    max-width: 327px;
  }
  .left-side {
    gap: 50px;
  }
  .button {
    max-width: 327px;
  }
  h1 {
    font-size: 40px;
  }
}
